.bg-login {
    background-image: url("https://dep.com.vn/Uploaded/sennt/2015_07_08/Nhan%20v%E1%BA%A1t%20Hoat%20hinh/Nhan-vat-hoat-hinh%20(4).jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}